{% extends 'base.html.twig' %}


{% block body %}
    <section class="articles">
        {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la categorie Politique</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }}
                <p>Repudiandae, accusantium nostrum cumque non sed atque magni laboriosam aut impedit est illum magnam aspernatur iste praesentium? Deserunt, soluta! Laboriosam, recusandae nisi. Debitis neque quo similique officiis tenetur quaerat quasi, alias recusandae sunt suscipit at laudantium earum consequuntur distinctio voluptatibus odit dolore numquam eos commodi voluptas perferendis vel. Nisi, minima.</p>
                <a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
       {% endfor %}
    </section>
{% endblock %}
